Library
v14
Temp
v15
*.stackdump
*.suo
*.user
/tmp
/Server/Server/bin
/Server/Server/obj
/Server/Server/Common
/Client/Assets/Scripts/Common
/Client/Assets/Scripts/Common.meta
/Common/*.meta
/Common/Swift/*.meta
/Common/Swift/Common/*.meta
/Common/Swift/Components/*.meta
/Common/Swift/Core/*.meta
/Common/Swift/Net/*.meta
/Common/Swift/Utils/*.meta
/Common/Swift/StateMachine/*.meta
/Common/Swift/Math/*.meta
/Common/Map/*.meta
/Common/Map/Unit/*.meta
/Common/RVO2/*.meta
/Server/Debug
/Server/RVO/Debug
/Server/RVO/x64/Debug
/Server/RVOWrapper/x64/Debug
/Server/x64/Debug
/Build
/Common/Battle/*.meta
/Common/Battle/Unit/*.meta
/Common/Swift/AStar/*.meta
/Common/Battle/Levels/*.meta
/Common/Battle/AIComputerOpponent/*.meta
/Common/Unit/*.meta
/Client/obj

